USE [master]
GO
/****** Object:  Database [InserteUnNombreAqui]    Script Date: 02/09/2017 02:18:17 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'InserteUnNombreAqui')
BEGIN
CREATE DATABASE [InserteUnNombreAqui]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InserteUnNombreAqui', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\InserteUnNombreAqui.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'InserteUnNombreAqui_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\InserteUnNombreAqui_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InserteUnNombreAqui].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
